@import url('./main.css');
@import url('./mediaQuery.css');


/*articles section*/
.article {
    background-color: rgb(209, 184, 184);
    padding-block: 100px;
    padding-inline: 50px;


}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.article .title h4 {
    color: #fcfbfb;
    position: absolute;
    font-size: larger;
}

.article .title h3 {
    color: rgb(198, 171, 171);
    ;
}

.article p {
    color: rgb(17, 17, 17);
    text-align: center;
    text-decoration: none;
}

.article-item {
    position: relative;
    padding: 55px;
    background-color: white;
    margin-top: 50px;
    text-align: center;
    border-radius: 15px;
}

.article .article-item:hover h3:after {
    width: 30%;
}

.article-item h3 {
    text-transform: capitalize;
}

.article .article-item h3:after {
    content: ' ';
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translatex(-50%);
    transition: width 1s;
    width: 10%;
    height: 3px;
    background-color: var(--main-color);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
}

.article .article-item .icon {
    background-color: #795d5d;
    position: absolute;
    left: 50%;
    top: -26px;
    transform: translate(-50%, 0);
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.article-item:hover .icon {
    background-color: var(--main-color);
}

a {
    text-decoration: none;
    color: black;
}

.art-img {
    margin-top: 10%;
}

.art-img img {
    width: 320px;
    height: 200px;
    box-sizing: border-box;
}

.link-box {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-transform: capitalize;
    color: gray;
}

.link-btn {
    display: block;
    padding: 15px;
    color: #000;
    border: 2px solid var(--main-color);
    font-weight: 500;
}

.link-btn:hover {
    color: white;
    background-color: var(--main-color);
}
