@import url('./contact.css');
@import url('./articles.css');
@import url('./mediaQuery.css');

:root {
    --main-color: #6a2003;

}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

nav {
    color: var(--main-color);
    border: 1px solid rgb(224, 184, 184);
    background-color: rgb(226, 202, 202);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 60px;

}

.item {
    top: 50%;
    font-weight: bold;
}

.name {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;

}

ul li a {
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    color: var(--main-color);
    padding: 5px;
    top: 50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul li a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);

}

/*header section*/
.header {
    background-color: #f4f1ec;
}

.header-content h1 {
    text-transform: uppercase;

}

.header .con {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 75%;
    margin: auto;
  
}

.header-content {
    line-height: 3rem;
    padding-top: 150px;
}

.social-media {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.icon {
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    transition-duration: 1s;
    color: #000000;
}

.view-link {
    color: var(--main-color);
}

.icon:hover {
    background-color: var(--main-color);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--main-color);
}

.nav-link:focus,
.nav-link:hover {
    color: var(--main-color);
}

.title h2 {
    font-size: 4rem;
    letter-spacing: 10px;
    color: #cacaca;
    font-weight: 900;
}

.title h3 {
    font-size: 2rem;
    font-weight: 900;
}


.item-main-img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding-top: 15px;

}

.header-content {
    width: 50%;

}

.left-sec {
    width: 50%;

}

.main-item {
    display: flex;
    width: 300px;
    height: 300px;
    margin: auto;
    
}



/*start projects section*/
.projects {
    padding: 10px;
    background-color: #d5cec2;
}

.pro-title {
    display: flex;
    justify-content: center;

}

.pro-title span {
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 0.5rem;
}

.h2-about {
    padding-left: 2rem;
    padding-top: 2rem;
}

.pro-h3 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
    padding-top: 25px;
}

.projects-grid {
    padding-block: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.project-item {
    box-sizing: border-box;
    text-align: center;
    padding: 3rem;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    background-color: #f4f1ec;
}

.project-item img {
    width: 300px;
    height: 250px;
}

.title-border-color {
    border-color: var(--main-color) !important;
}



/*footer section*/
footer {
    display: flex;
    justify-content: center;
    padding: 75px 15px;
    text-align: center;
    border-top: 1px solid #ebebeb;
}

.footer-content {
    display: flex;
}

.footer-content a {
    color: #000000;
    font-weight: 700;
    margin-left: 0.5rem;
}

.footer-content a:hover {
    color: #eda62a;

}